In [2]:
import pandas as pd
import numpy as np
info =pd.DataFrame([[3,9]]*4,columns=['S','R'])
print(info)
print(info.apply(np.sum,axis=0))
print(info.apply(np.sum,axis=1))
print(info.apply(np.sqrt))

   S  R
0  3  9
1  3  9
2  3  9
3  3  9
S    12
R    36
dtype: int64
0    12
1    12
2    12
3    12
dtype: int64
          S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

In [4]:
import pandas as pd
import numpy as np
a=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X',"Y",'Z'])
print(a)
print(a.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [6]:
 
d2=pd.DataFrame([["Sai",88],["Sanjai",70]],columns=['Name','Id'])
print(d2)
d2['Age']=[20,18]                 
print("\n",d2)
d2["Sex"]=['Male','Male']
print("\n",d2)

     Name  Id
0     Sai  88
1  Sanjai  70

      Name  Id  Age
0     Sai  88   20
1  Sanjai  70   18

      Name  Id  Age   Sex
0     Sai  88   20  Male
1  Sanjai  70   18  Male

In [8]:
 d2=pd.DataFrame([["Sai",88],["Sanjai",70]],columns=['Name','Id'])
a=d2.assign(age=[20,18])
print(a)

     Name  Id  age
0     Sai  88   20
1  Sanjai  70   18

In [10]:
 
import numpy as np
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=["3rd","4th"])
print(info)
a=info.sort_index()
print(a)
b=a.sort_values(by='3rd')
print(b)

        3rd       4th
3  1.693480 -1.239036
2  0.296492  0.503541
0 -0.740518  0.859214
4 -0.514246 -1.226702
1  0.629034 -2.340730
        3rd       4th
0 -0.740518  0.859214
1  0.629034 -2.340730
2  0.296492  0.503541
3  1.693480 -1.239036
4 -0.514246 -1.226702
        3rd       4th
0 -0.740518  0.859214
4 -0.514246 -1.226702
2  0.296492  0.503541
1  0.629034 -2.340730
3  1.693480 -1.239036