In [5]:
import pandas as pd
d1={"name":["sai","suba","poo"],
   "age":[20,21,22]}

d2={"qualified":[True,True,False]}
print(d1)
print(d2)

{'name': ['sai', 'suba', 'poo'], 'age': [20, 21, 22]}
{'qualified': [True, True, False]}

In [15]:
import pandas as pd
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

   name  age
0   sai   20
1  suba   21
2   poo   22
   qualified
0       True
1       True
2      False
   name  age  qualified
0   sai   20       True
1  suba   21       True
2   poo   22      False

In [27]:
import pandas as pd
d1={"name":["peter","leo","jailer"],
   "age":[20,21,22]}
import pandas as pd
d2={"name":["dilli","bad","dass"],
   "age":[40,80,100]}

In [37]:
import pandas as pd
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age",how="right"))
print(newdf)
newdf2=(df1.merge(df2,on="age",how="left"))
print(newdf2)

     name  age
0   peter   20
1     leo   21
2  jailer   22
    name  age
0  dilli   40
1    bad   80
2   dass  100
    name  age  qualified
0  dilli   20       True
1    bad   21       True
2   dass   22      False
   name_x  age name_y
0   peter   20    NaN
1     leo   21    NaN
2  jailer   22    NaN

In [37]:
 import pandas as pd
d1=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assists':[12,34,23,44],'rebounds':[56,43,55,12]})
print(d1)
d2=pd.melt(d1,id_vars='team',value_vars=['points','assists','rebounds'])
print(d2)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12