In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [24]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emf':emp,'id':id}
result=pd.DataFrame(frame)
print("\nseries to data Frame\n")
print(result)

series to data Frame

      emf  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [26]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emf':emp,'id':id}
result=pd.DataFrame(frame)
print("\nseries to data Frame\n")
result['age']=pd.Series([20,25,30,50])
del result[' age']
print(result)

series to data Frame

      emf  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40

In [28]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emf':emp,'id':id}
result=pd.DataFrame(frame)
print("\nseries to data Frame\n")
result['age']=pd.Series([20,25,30,50])
print(result)

series to data Frame

      emf  id  age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    ravi  40   50

In [36]:
emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'emp':emp,'id':id}
result=pd.DataFrame(frame)
print("\nextracting one column\n")
print(result['emp'])

extracting one column

0       uma
1      siva
2    sindhu
3      ravi
Name: emp, dtype: object

In [38]:
print("slice row:\n",result[1:3])

slice row:
       emp  id
1    siva  20
2  sindhu  30

In [40]:
print(result.drop(2))

    emp  id
0   uma  10
1  siva  20
3  ravi  40

In [42]:
print("\n extracting row :\n",result.loc[1])

 extracting row :
 emp    siva
id       20
Name: 1, dtype: object

In [44]:
d2=pd.DataFrame([['anu',20],['jinu',19]],columns=['emp','id'])
print(pd.concat([result,d2]))

      emp  id
0     uma  10
1    siva  20
2  sindhu  30
3    ravi  40
0     anu  20
1    jinu  19