In [50]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['abi','babu','charles','darwin','abi','charles','darwin' ],'B':['one','two','three','one','two','three','one'],'C':np.random.randint(7,size=7),'D':np.random.randint(7,size=7)})
print(df)

         A      B  C  D
0      abi    one  3  1
1     babu    two  0  6
2  charles  three  1  3
3   darwin    one  0  1
4      abi    two  6  3
5  charles  three  6  6
6   darwin    one  0  2

In [40]:
df1=df.groupby(['A'],as_index=False)['C'].sum()
print("\n originial data frame\n",df)
print("\ngrouped data framewith one column sum\n",df1)

 originial data frame
          A      B  C  D
0      abi    one  2  5
1     babu    two  2  2
2  charles  three  3  2
3   darwin    one  1  0
4      abi    two  1  0
5  charles  three  1  3
6   darwin    one  1  4

grouped data framewith one column sum
          A  C
0      abi  3
1     babu  2
2  charles  4
3   darwin  2

In [74]:
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
df3=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print("\n Multiple column sum\n",df2)
print("\n group column sum\n",df3)

 Multiple column sum
          A      B  C
0      abi    one  3
1      abi    two  6
2     babu    two  0
3  charles  three  7
4   darwin    one  0

 group column sum
          A      B  C  D
0      abi    one  3  1
1      abi    two  6  3
2     babu    two  0  6
3  charles  three  7  9
4   darwin    one  0  3

In [78]:
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print(df)
df1=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20